button{
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 15px;
    border: none;
    background-color: #6877CA;
    cursor: pointer;
}

.custom_input label{
    font-size: 12px;
    font-weight: 400;
    display: flex;
    margin-left: 15px;
}

.custom_input input{
    width: 100%;
    padding: 14px;
    border-radius: 25px;
    border: 1px solid #6877CA;
    margin: 8px 0;
}

.custom_input .message{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.input_section{
    position: relative;
}

.icon{
    position: absolute;
    right: 10px;
    top: 14px;
    height: 30px;
    width: 30px;
}

.custom_input input:focus{
    outline: #6877CA;
}